.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: rgb(224, 221, 221);
  padding: 5px;
  width: 220px;
  height: 295px;
  margin-top: 10px;
  color: white;
  border-radius: 18px;
}