.sidebar{
    background-color:  aqua; /* For browsers that do not support gradients */
    background-image: linear-gradient( rgb(0, 255, 21), aqua); /* Standard syntax (must be last) */
    min-height: 89vh;
    position: relative;
}

.sidebar > ul{
    padding-top: 30px;
    list-style: none;
    padding: 65px 0;
    margin: 0;
}

.item{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item, li:hover 
{
     cursor:pointer;  
}